body{
	width: 100%;
	margin: auto;
	background-color: #FAFAFA;
}

#page-wrap{
	display: block;
	font-family: sans-serif;
}

.container{
	width: 960px;
	margin: 0 auto;
}

.name{
	margin: 0 auto;
	position: relative;
	text-align: center;
	font-family: Georgia;
	color: #585858;
}

.header{
	margin: 0 auto;
	text-align: center;
}

a{
	text-decoration: none;
	color: #2A5DB0;
}

.title{
	text-align: center;
	font-size: 22px;
	font-style: italic;
}

img{
	width: 250px;
	height: 150px;
	float: left;
	position: relative;
	border-radius: 20px;
}

.section{
	height: 200px;
	margin-bottom: 50px;
}

.section-title h2{
	font-family: Georgia;
}

.summary{
	position: relative;
	left: 30px;
	font-family: sans-serif;
	padding-top: 20px; 
}

.incorporation{
	margin-bottom: 40px;
}