/* Desktop */
@media (max-device-width: 1920px){
	body{
		width: 100%;
		margin: auto;
	}

	#page-wrap{
		display: block;
		background-color: #1C1C1C;
		font-family: sans-serif;
	}

	.container{
		width: 960px;
		margin: 0 auto;
		background-color: white;
	}

	.header{
		position: fixed;
		background-color: black;
		width: 100%;
		top: 0;
		z-index: 1;
	}

	.logo{
		float: left;
		font-family: Georgia, Helvetica;
	}

	a{
		text-decoration: none;
		color: #BDBDBD;
	}

	.header li{
		list-style: none;
		float: left;
		font-size: 20px;
		margin: 10px;
		padding-top: 5px;
	}

	.nav{
		float: right;
	}

	.home-background{
		background: url('../img/background.jpg');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		height: 960px;
	}

	/* HOME */
	#page1 p{
		position: relative;
		font-size: 40px;
		text-transform: uppercase;
		font-family: "Proxima Nova Bold", serif; 
		text-align: center;
		top: 230px;
		color: #FA5858;
	}

	/* About Me */ 
	#page2{
		height: 1000px;
		padding-top: 30px;
	}

	#page2 .picture{
		border-radius: 100%;
		width: 200px;
		height: 200px;
		display: block;
		margin: 0 auto;
	}

	#page2 h2 {
		position: relative;
		right: 10px;
		font-family: Helvetica;
	}

	#page2 .about-me-content{
		padding-left: 60px;
		padding-right: 60px;
	}

	#page2 img{
		width: 400px;
		height: 200px;
		padding: 10px;

	}

	/* Portfolio */
	#page3{
		height: 680px;
		padding-top: 30px;
		background-color: #F2F2F2;
	}

	#page3 .portfolio-title{
		text-align: center;
		font-weight: bold;
		font-size: 40px;
		padding-top: 30px;
		color: #8904B1;
	}

	#page3 .portfolio-content{
		padding-left: 60px;
		padding-right: 60px;	
		padding-top: 30px;
	}

	/* Contact */
	#page4{
		height: 250px;
		background-color: #E6E6E6;
	}

	#page4 .contact-title{
		text-align: center;
		font-weight: bold;
		font-size: 40px;
		padding-top: 40px;
		color: #8904B1;
	}

	#page4 .contact-content{
		padding-left: 60px;
		padding-right: 60px;
		font-size: 20px;
		font-family: serif;
	}
}

/* Tablets */
@media only screen and (min-device-width: 740px) and (max-device-width: 1025px){

	.header{
		font-size: 18px;
	}

	.container{
		width: 100%;
		margin: 0 auto;
	}

	#page-wrap{
		background-color: white;
	}

	.nav li a{
		font-size: 30px;
	}

	.home-background{
		background-size: cover;
	}

}

/* Phones/Phablets */
@media only screen and (min-device-width: 320px) and (max-device-width: 740px){

	.header{
		font-size: 15px;
	}

	.container{
		width: 100%;
		margin: 0 auto;
	}

	#page-wrap{
		background-color: white;
	}

	.nav li a{
		font-size: 30px;
	}

	.home-background{
		background-size: cover;
	}

}
