@import url('https://fonts.googleapis.com/css?family=Cairo|VT323|Ropa+Sans');

/* Desktop */
@media (max-device-width: 2560px){
/*	html{
		background: url('../img/bg2.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		background-attachment: fixed;
	}*/

/*HOMEPAGE CSS*/
	/*HOMEPAGE BODY*/
	#home_page{
		width: 100%;
		font-family: "Cairo", Arial, Helvetica;
		font-size: 1.3rem;
		letter-spacing: 0.05rem;
		/*background: rgba(0,0,0,0.8);*/
		background: url('../img/bg2.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		background-attachment: fixed;		
	}

	.page_wrap{
		width: 100%;
		height: 100%;
		/*display: block;*/
		position: absolute;
		top: 0px;
		left: 0px;
		margin: 0 auto;
	}

	.banner{
		position: absolute;
		width: 100%;
		height: 500px;
		/*background: url('../img/LA_Background1.jpg');*/
		overflow: hidden;
		margin: 0 auto;
		/*background-image: url("http://i.imgur.com/KjyvQ6I.jpg");*/
		/*background-repeat: no-repeat;*/
		/*background-position: ;*/
		/*background-size: 100% 50%;*/
	}

	/*HEADER*/
	.header{
		position: fixed;
		display: inline-block;
		margin: 0 auto;
		width: 100%;
		top: 0px;
		left: 0px;
		z-index: 1;
		height: 98px;
		line-height: 48px;
		/*background: red;*/
		overflow: hidden;
		transition: all 0.3s ease;
		text-transform: uppercase;
	}

	.header.move{
		transition: all 0.3s ease;
		line-height: 0px;
		background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,7));
	}

	a{
		text-decoration: none;
		color: #fff;
	}

	a:hover{
		color: #fbd699;
		text-decoration: none;
	}

	.logo{
		position: relative;
		display: inline-block;
		float: left;
		font-size: 20px;
		font-weight: bold;
		height: 30px;
		width: 240px;
		margin: 0px 60px;
		letter-spacing: 0.40rem;
		font-family: "Ropa Sans";
	}

	.logo img{
		position: relative;
		vertical-align: text-top;
		height: 60px;
		width: 60px;
	}

	.header li{
		list-style: none;
		float: left;
		font-size: 20px;
		margin: 5px;
		padding-top: 5px;
	}

	.nav{
		position: relative;
		display: inline-block;
		float: right;
		padding: 0px 60px;
	}
	/*END HEADER*/

	/*HOME PAGE COTAINER*/
	.home_container{
		position: relative;
		top: 10%;
		max-width: 80%;
		height: 60%;
		margin: 0 auto;
		text-align: center;
		width: 100%;
		padding: 70px 0px 0px 20px;
		/*background: rgba(0,0,0,0.7);*/
		color: #fff;
	}

	/*Hello, World*/
	.content_hello{
		position: relative;
		/*display: inline-block;*/
		/*float: left;*/
		margin: 0 auto;
		/*text-align: center;*/
		width: 420px;
		font-size: 35px;
		font-weight: 600;
		height: 50px;
		top: 40px;
		overflow: hidden;
		font-family: "Cairo", Arial;
	}

	.content_hello:before{
		content: '<';
		left: 0;
		float: left;
	}

	.content_hello:after{
		content: '/>';
		float: right;
		right: 0;
	}

	.content_hello:before, .content_hello:after{
		position: relative;
	    top: 0;
	      
	    color: #fbd699;
	    font-size: 42px;
	    line-height: 40px;
	      
	    -webkit-animation-name: opacity;
	    -webkit-animation-duration: 2s;
	    -webkit-animation-iteration-count: infinite;
	    animation-name: opacity;
	    animation-duration: 2s;
	    animation-iteration-count: infinite;
	}

	.content_container_text{
		position: relative;
		display: inline-block;
		float: left;
		line-height: 40px;
		padding-left: 30px;
		/*top: -40px;*/
	}

	.content_container_list{
		position: relative;
		display: inline-block;
		/*padding-left: 140px;*/
		bottom: 48px;
		padding-left: 0px;
		text-align: left;
		list-style: none;

      	-webkit-animation-name: change;
      	-webkit-animation-duration: 3s;
      	-webkit-animation-iteration-count: infinite;
      	animation-name: change;
      	animation-duration: 3s;
      	animation-iteration-count: infinite;		
	}

	@-webkit-keyframes change {
		0%, 25%, 100% {transform:translate3d(0,0,0);}
		50%, 75% {transform:translate3d(0,-50%,0);}
	}

	@keyframes opacity {
	  0%, 100% {opacity:0;}
	  50% {opacity:1;}
	}		
	/*End Hello, World*/

	.intro{
		position: relative;
		top: 30px;
	}

	.intro .caption{
		font-size: 70px;
		font-weight: 450;
		font-family: "VT323", Arial;
	}

	.intro span{
		position: relative;
		top: -20px;
	}


	/*ARROW TO NEXT PAGE*/
	.next_page{
		position: relative;
		float: right;
		height: 60px;
		width: 30px;
		top: -25%;
		right: 60px;
	}

	.right_arrow{
		display: inline-block;
		border: solid #eee;
		border-width: 0 3px 3px 0;
		padding: 15px;
		transform: rotate(-45deg);
	}

	.right_arrow:hover{
		border: solid #fbd699;
		border-width: 0 3px 3px 0;
	}
	/*END ARROW*/


	/* FOOTER */
	.footer{
		position: absolute;
		height: 55px;
		color: #fff;
		bottom: 0;
		width: 100%;
		background: black;
		overflow: hidden;
		font-size: 16px;
		text-align: center;
		padding-bottom: 6px;
		display: inline-block;
	}

	.footer_content{
		margin: 0 auto;
		width: 350px;
		display: inline-block;
	}

	.footer_icons{
		display: inline-block;
	}

	.footer li{
		position: relative;
		left: -25px;
		list-style: none;
		display: inline-block;
		margin: 0px 3px;
	}
	/*END FOOTER*/
/*END HOMEPAGE CSS*/

/*PORTFOLIO PAGE CSS*/
	/*PORTFOLIO BODY*/
	#portfolio_page{
		width: 100%;
		font-family: "Cairo", Arial, Helvetica;
		font-size: 1.3rem;
		letter-spacing: 0.05rem;	
		background: #4a4a4a;	
	}

	/*CONTENT CONTAINER*/
	.container{
		position: relative;
		top: 121px;
		max-width: 80%;
		height: 60%;
		margin: 0 auto;
		width: 100%;
		padding: 2px 0px 0px 20px;
		background: rgba(0,0,0,0.6);
		color: #fff;
	}

	.page_title{
		color: #fbd699;
		font-family: "VT323", "Cairo", Arial;
		text-transform: uppercase;
		text-align: center;
	}
}

/* Tablets */
@media only screen and (min-device-width: 740px) and (max-device-width: 1025px){

	.header{
		font-size: 18px;
		background: red;
	}

	.container{
		width: 100%;
		margin: 0 auto;
	}

	#page-wrap{
		background-color: white;
	}

	.nav li a{
		font-size: 30px;
	}

	.home-background{
		background-size: cover;
	}

}

/* Phones/Phablets */
@media only screen and (min-device-width: 320px) and (max-device-width: 740px){

	.header{
		font-size: 15px;
	}

	.container{
		width: 100%;
		margin: 0 auto;
	}

	#page-wrap{
		background-color: white;
	}

	.nav li a{
		font-size: 30px;
	}

	.home-background{
		background-size: cover;
	}

}
