/* Desktop */
@media (max-device-width: 1920px){
	body{
		width: 100%;
	}

	/*Header*/
	#page-wrap{
		display: block;
		background-color: white;
		font-family: sans-serif;
	}

	.header{
		position: fixed;
		display: inline-block;
		margin: 0 auto;
		width: 100%;
		top: 0px;
		left: 0px;
		background: white;
	}

	a{
		text-decoration: none;
		color: black;
	}

	.logo{
		float: left;
		font-family: Georgia, Helvetica;
		font-size: 15px;
		margin: 0px 20px;
	}

	.logo img{
		height: 40px;
		width: 60px;
	}

	.header li{
		list-style: none;
		float: left;
		font-size:	 20px;
		margin: 5px;
		padding-top: 5px;
	}

	.nav{
		display: inline-block;
	}
	/*End Header*/

	.home_background{
		background: url('../img/LA_Background.jpg') red;
		background-repeat: no-repeat;
		background-position: center;
		height: 960px;
	}
}

/* Tablets */
@media only screen and (min-device-width: 740px) and (max-device-width: 1025px){

	.header{
		font-size: 18px;
	}

	.container{
		width: 100%;
		margin: 0 auto;
	}

	#page-wrap{
		background-color: white;
	}

	.nav li a{
		font-size: 30px;
	}

	.home-background{
		background-size: cover;
	}

}

/* Phones/Phablets */
@media only screen and (min-device-width: 320px) and (max-device-width: 740px){

	.header{
		font-size: 15px;
	}

	.container{
		width: 100%;
		margin: 0 auto;
	}

	#page-wrap{
		background-color: white;
	}

	.nav li a{
		font-size: 30px;
	}

	.home-background{
		background-size: cover;
	}

}
